<app-header></app-header>

<div class="layout">
  <app-sidebar class="sidebar"></app-sidebar>
  <app-main-content class="content"></app-main-content>
<div><app-products-table></app-products-table></div>
</div>

<app-footer></app-footer>
<app-user-profile></app-user-profile>

<p configurableHighlight [highlightColor]="'cyan'">
  Наведіть на мене мишкою — я підсвічуюсь блакитним!
</p>

<div configurableHighlight [highlightColor]="'lightgreen'" style="padding: 10px; margin-top: 10px;">
  Наведіть на мене мишкою — я підсвічуюсь світло-зеленим!
</div>

<p configurableHighlight>
  А я підсвічуюсь жовтим за замовчуванням.
</p>
